@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Lobster&display=swap');
 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    transition: .3s;
}

.header{
    background: #003B4E;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 10;
}

body{
    background-image: url("../asset/Fast X.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    overflow-x: hidden; 
}
 
section{
    margin:0 auto;
    padding:10px;
}
 
header .area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
header .logo{
    font-family: 'Lobster';
    font-weight: 200;
    margin-left: 15px;
    font-size: 3vw;
    color:#ffffff;
}
 
.category{
    display: none;
}
 
.navbar ul a.btn{
    color: white;
}

.navbar ul a.btn:hover{
    color: #CC9544;
}

header .navbar a{
    padding: 0px 1vw 0px 10px;
    margin-left: 10px;
    color:#BBBBBB;
    font-size: 30px;
}

.navbar a:hover{
    color:#CC9544;
}

.home{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home .tulisan{
    display: flex;
    flex-direction: column; 
    padding-top: 10vw;
    padding-left: 5vw;
    margin-right: 30px;
}

.home .tulisan h1{
    color:#ffffff;
    font-size: 5vw;
    margin-top: 5vw;
}

.home .tulisan p{
    color: #ffffff;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.button-container{
    display: flex;
    align-items: flex-start;
}

.my-button1{
    font-family: 'poppins';
    background-color: #FF9900;
    color: white;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 220px;
    border-radius: 20px;
    margin-bottom: 17vw;
}

.my-button2{
    font-family: 'poppins';
    background-color: #FF9900;
    color: white;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 220px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 17vw;
}

.my-button1:hover{
    background-color: #a77509;
}

.my-button2:hover{
    background-color: #a77509;
}

.film-collection1{
    padding-top: 10vw;
    padding-left: 1.5vw;
    padding-right: 1vw;
}

.film-collection2{
    padding-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1vw;
}

.film-collection3{
    padding-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1vw;
}

.film-collection4{
    padding-top: 2vw;
    padding-left: 1.5vw;
    padding-right: 1vw;
}

.film-collection1 h2{
    padding-left: 1vw;
    font-size: 3vw;
    color: #ffffff; 
}

.film-collection2 h2{
    padding-left: 1vw;
    font-size: 3vw;
    color: #ffffff;
}

.film-collection3 h2{
    padding-left: 1vw;
    font-size: 3vw;
    color: #ffffff;
}

.film-collection4 h2{
    padding-left: 1vw;
    font-size: 3vw;
    color: #ffffff;
}

.area-film{
    width: 95vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    background: rgba(80, 69, 69, 0.5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    padding-top: 1.5vw; 
    padding-bottom: 1.5vw;
    padding-left: 0.5vw; 
    padding-right: 0.5vw;
}
   
.area-film .area-img{
    width: 30vw;
    height: 30vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.area-film .area-img img{
    width: 90%;
    height: 90%;
    object-fit: cover; 
    border-radius: 15px;
}

.area-film img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.film-collection1 h2:hover{
    color: #CC9544;
    cursor: pointer;
} 

.film-collection2 h2:hover{
    color: #CC9544;
    cursor: pointer;
} 

.film-collection3 h2:hover{
    color: #CC9544;
    cursor: pointer;
} 

.film-collection4 h2:hover{
    color: #CC9544;
    cursor: pointer;
} 

.area-film p:hover{
    color: #CC9544;
    cursor: pointer;
}

.area-footer{
    padding-top: 18vw;
}

.footer{
    background: #003B4E;
    backdrop-filter: blur(10px);
    padding-top: 3vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 
.footer h2{
    color: #ffffff;
    padding-bottom: 1.5vw;
    font-size: 3vw;
}
 
.sosmed{
    padding-bottom: 2vw;
}

.sosmed a{
    margin: 1vw;
    font-size: 2vw;
    width: 4vw;
    height: 3vw;
    padding-top: 1vw;
    border-radius: 50%;
    color: #ffffff;
    background: rgba(13, 12, 12, 0.45);
}
 
.sosmed a:hover{
    color: #000000;
    background-color: #BBBBBB;
}
 
 .credit{
    background: rgba(217, 217, 217, 0.31);
    width: 100vw;
    backdrop-filter: blur(10px);
    padding-top: 2vw;
    font-size: 1.5vw;
    color: white;
    padding-bottom: 1vw;
}

@media screen and (max-width: 1000px){
    header .navbar a{
        font-size: 24px;
    }
}

@media screen and (max-width: 768px){
    .category span:nth-child(2){
       transform-origin: 0 0;
    }
 
    .category input:checked ~ span:nth-child(2){
       transform: rotate(45deg);
    }
 
    .category span:nth-child(24){
       transform-origin: 0 100%;
    }
 
    .category input:checked ~ span:nth-child(4){
       transform: rotate(-45deg) translate(1px,-7px);
    }   
 
    .category input:checked ~ span:nth-child(3){
       opacity: 0;
       transform: scale(0);
    }   

    header .logo{
       font-size: 30px;
       z-index: 1;
    }
 
    .navbar ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: 200px;
        top: 58px;
        right: 0px;
        padding: 50px;
        background-color: rgba(217, 217, 217, 0.26);
        backdrop-filter: blur(10px);
  
        transform: translateX(100%);
        transition: all 0.4s;
    }

    .navbar ul a{
        font-size: 30px;
    }

    .navbar ul.muncul{
        transform: translateX(0);
        background-color: #4b4f52de;
    }
    
    .category{
        display: flex;
        flex-direction: column;
        height: 20px;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .category input{
        position: absolute;
        width: 22px;
        height: 28px;
        top: -5px;
        left: -1px;
        opacity: 0.0;
        cursor: pointer;
        z-index: 1;
    }

    .category span{
        display: block;
        width: 20px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
        transition: 0.4s;
    }

    .home{
        padding-left: 0;
    }
    
    .home .tulisan{ 
        padding-top: 25vw;
    }
    
    .home .tulisan h1{
        font-size: 8vw;
    }
    
    .home .tulisan p{
        font-size: 4vw;
    }
    
    .my-button1{
        padding: 10px 10px;
        font-size: 20px;
        width: 120px;
    }

    .my-button2{
        padding: 10px 10px;
        font-size: 20px;
        width: 120px;
    }

    .area-film{
        width: 85vw;
        height: 650vw;
        flex-direction: column;
        padding-top: 5vw; 
        padding-bottom: 1px;
        padding-left: 0.5vw; 
        padding-right: 0.5vw;
        margin-left: 4vw;
    }
       
    .area-film .area-img{
        width: 90vw;
        height: 90vw; 
    }
    
    .area-film .area-img img{
        width: 90%;
        height: 90%;
    }

    .film-collection1 h2{
        font-size: 20px;
        margin-left: 4vw;
        margin-bottom: 2vw;
    }

    .film-collection2 h2{
        font-size: 20px;
        margin-left: 4vw;
        margin-bottom: 2vw;
        margin-top: 5vw;
    }

    .film-collection3 h2{
        font-size: 20px;
        margin-left: 4vw;
        margin-bottom: 2vw;
        margin-top: 5vw;
    }

    .film-collection4 h2{
        font-size: 20px;
        margin-left: 4vw;
        margin-bottom: 2vw;
        margin-top: 5vw;
    }

    .sosmed a{
        font-size: 4vw;
        width: 7vw;
        height: 6vw;
        padding-top: 2vw;
    }
     
    .credit{
        font-size: 3vw;
    }

    .home.muncul{
        opacity: 0.3;
    }

    .film-collection.muncul{
        opacity: 0.3;
    }

    .area-footer.muncul{
        opacity: 0.3;
    }
 }

 @media screen and (max-width: 300px){
    .category span:nth-child(2){
        transform-origin: 0 0;
    }
  
    .category input:checked ~ span:nth-child(2){
        transform: rotate(45deg);
    }
  
    .category span:nth-child(24){
        transform-origin: 0 100%;
    }
  
    .category input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(1px,-7px);
    }   
  
    .category input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }   

    .home{
        padding-left: 0;
    }
    
    .home .tulisan{ 
        padding-top: 25vw;
    }
    
    .home .tulisan h1{
        font-size: 5vw;
    }
    
    .home .tulisan p{
        font-size: 4vw;
    }

    .my-button1{
        padding: 5px 5px;
        font-size: 15px;
        width: 120px;
    }

    .my-button2{
        padding: 5px 5px;
        font-size: 15px;
        width: 120px;
    }
}
 
